
body{font-family:Arial;margin:0;background:#f7f7f7}
.header{background:#2ecc71;color:white;padding:15px;text-align:center;font-size:20px}
.products{padding:10px}
.card{background:white;border-radius:12px;padding:10px;margin-bottom:10px;text-align:center}
.card img{width:100%;border-radius:10px}
button{background:#2ecc71;color:white;border:none;padding:8px 14px;border-radius:6px}
.cart-btn{position:fixed;bottom:10px;left:10px;right:10px;
background:#27ae60;color:white;text-align:center;padding:12px;
border-radius:10px;text-decoration:none}
